body,
html {
    height: 100%;
    width: 100%
}

body,
* {
    padding: 0;
    border: 0;
    margin: 0
}

*,
*:before,
*:after {
    font-family: sans-serif;
    font-size: 1em;
    position: relative;
    color: black;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: normal;
    vertical-align: middle;
    text-decoration: none
}

.ns,
.ns * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

body {
    background: #fff;
    font-size: 15px
}

input {
    -webkit-appearance: none;
    border: 0;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: 0;
    margin: 0;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

table.tab-row,
table.tab-row tbody,
table.tab-row tr,
table.tab-row td {
    position: relative;
    z-index: 2;
    height: 100%;
    border-collapse: collapse;
    overflow: hidden
}

table.tab-row,
table.tab-row tbody,
table.tab-row tr {
    width: 100%
}

.svg-ic {
    display: block;
    height: 100%;
    width: 100%;
    fill: #308cfc
}

.upload-zone {
    width: 1em;
    height: 1em;
    position: fixed;
    top: -2em;
    left: -2em;
    z-index: 0;
    overflow: hidden;
    visibility: hidden
}

.layout-block {
    position: fixed;
    overflow: auto;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    background: #fff;
    -webkit-overflow-scrolling: touch
}

.browsebar {
    z-index: 11;
    top: 0;
    left: 16em;
    right: 0;
    height: 4em
}

.tools {
    z-index: 2;
    top: 4em;
    left: 0;
    width: 16em;
    bottom: 1.4em
}

.tree {
    z-index: 5;
    top: 4em;
    right: 0;
    width: 20em;
    bottom: 1.4em
}

.main {
    z-index: 1;
    top: 4em;
    left: 16em;
    right: 20em;
    bottom: 1.4em
}

.bottombar,
.outputbar {
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.4em;
    overflow: hidden;
    padding: 0 1em 0 1em;
}

.bottombar .text,
.outputbar .text {
    font-size: .8em;
	display:block;
	line-height:1.7em;
	margin:0;
}

.resp-none .outputbar {
    display: none
}

.resp-progress .bottombar,
.resp-success .bottombar,
.resp-error .bottombar {
    display: none
}

.resp-success .outputbar {
    background: #5f5
}

.resp-error .outputbar {
    background: #f55
}

.tree-resetter {
    top: 0;
    left: 0;
    bottom: 0;
    right: 20em;
    background: transparent;
    display: none;
    position: fixed;
    z-index: 101
}

.tree-copy .tree-resetter,
.tree-cut .tree-resetter {
    display: block
}

.login {
    width: 20em;
    height: 20em;
    top: 50%;
    left: 50%;
    margin-top: -10em;
    margin-left: -10em;
    padding-top: 4em
}

.login.license {
    height: 40em;
    margin-top: -20em;
}

.login input {
    padding: 0 1.5em;
    line-height: 2.6em;
    width: 100%;
    background: #eee;
    text-align: left
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 10em #eee inset!important
}

.login input[type=submit] {
    cursor: pointer;
    font-weight: bold;
    background: #308cfc;
    color: #fff;
    text-align: center
}

.login .header-block {
    height: 6.7em;
    padding: 2.5em 1.5em;
    padding-bottom: 0
}

.login .header-block.err,
.login .header-block.err * {
    color: #f55
}

.login .login-block {
    height: 7.8em;
    margin-bottom: 1.5em;
    padding: 0 1.5em
}

.login .license-block {
    font-size: .8em;
    padding: 2em 2em;
    margin-top: -5em
}

.login .ahr {
    cursor: pointer;
    border-bottom: 1pt solid #308cfc
}

.login .ahr:active {
    color: #308cfc
}

.muonbar.layout-block {
    z-index: 15;
    top: 0;
    left: 0;
    width: 16em;
    height: 4em
}

.muonbar.muonbar-login {
    width: 20em;
    box-shadow: none;
    top: 50%;
    left: 50%;
    margin-left: -10em;
    margin-top: -10em;
}

.muonbar.muonbar-license {
    display: none
}

.muonbar .logo {
    width: 3em;
    height: 4em;
    padding: 1em;
    padding-right: 0
}

.muonbar .logo .svg-ic {
    fill: #000
}

.muonbar .title {
    padding-top: .6em;
    vertical-align: top;
    font-size: 1.5em;
    font-weight: bold;
    padding-left: .3em
}

.muonbar .title .learnmore {
    font-size: .4em;
    font-weight: normal;
    color: #308cfc;
    position: absolute;
    top: 4em;
    left: 1em;
    cursor: pointer
}

.muonbar .title .learnmore:active {
    border-bottom: 1pt solid #308cfc
}

.muonbar .btns {
    padding-right: .5em
}

.muonbar .btn {
    float: right;
    height: 4em;
    width: 2.2em;
    padding: 1em .1em;
    cursor: pointer
}

.muonbar .btn.gray .svg-ic {
    fill: #888
}

.muonbar .btn.tree-open-btn {
    top: 0;
    right: 0;
    margin-left: 1.5em;
    display: none
}

.editor-container {
    margin: 1.5em 0
}

.editor {
    display: block;
    position: relative;
    font-size: .8em;
    vertical-align: middle;
    background: -moz-linear-gradient(top, transparent 0, transparent 50%, #eeeeee 50%, #eeeeee 100%);
    background: -webkit-linear-gradient(top, transparent 0, transparent 50%, #eeeeee 50%, #eeeeee 100%);
    background: linear-gradient(to bottom, transparent 0, transparent 50%, #eeeeee 50%, #eeeeee 100%);
    background-position: top left;
    background-attachment: local;
    width: 100%;
    outline: 0;
    font-family: monospace;
    resize: none;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    padding-left: 3.5em;
    padding-right: .5em
}

.editor-text-nowrap .editor {
    overflow: hidden;
    white-space: pre;
    overflow-x: scroll
}

.editor-lineheight {
    background-size: 400px 40px;
	background-repeat:repeat;
    line-height: 20px
}

.editor-numbers {
    display: block;
    position: relative;
    width: 4em;
    font-size: .6em;
    padding-right: .5em;
    text-align: right;
    background: #fff;
    border-right: 1pt solid #ddd;
    color: #888
}

.editor-adj {
    display: block;
    background: red
}

.editor-adj.hidden {
    display: none
}

.browse-container {
    margin: 0 0 1.5em 0
}

.browse-item {
    display: block;
    height: auto;
    overflow: hidden
}

.browse-item label {
    cursor: pointer
}

.browse-item .tab {
    height: 2.6em;
    border-bottom: 1pt solid #ddd
}

.browse-item .browse-chk {
    position: relative;
    z-index: 0;
    display: block;
    width: 100%;
    height: 20em;
    margin-bottom: -20em;
    background: transparent
}

.browse-item .browse-chk:after {
    position: absolute;
    z-index: 1;
    display: block;
    content: " ";
    margin-top: .6em;
    margin-left: .6em;
    width: 1.4em;
    height: 1.4em;
    border: .3em solid #ddd;
    background: transparent;
    -o-border-radius: 50%;
    -khtml-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%
}

.browse-item .browse-chk:checked {
    display: block;
    background: #deecfc
}

.browse-item .browse-chk:checked:after {
    background: #308cfc;
    border-color: #a1cafc
}

.browse-item .tab .name {
    line-height: 1em
}

.browse-item .tab .name .breakwords {
    word-break: break-all
}

.browse-item .tab .name .link {
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1pt solid #308cfc
}

.browse-item .tab .name .link:active {
    color: #308cfc
}

.browse-item .tab .name .openlink {
    font-weight: normal;
    cursor: pointer;
    color: #308cfc;
    font-size: .7em;
    margin-left: 1em;
    border-bottom: 1pt solid transparent
}

.browse-item .tab .name .openlink.edit {
    margin-left: .1em;
    font-weight: bold
}

.browse-item .tab .name .openlink:active {
    border-color: #308cfc
}

.browse-item .tab .data {
    text-align: right
}

.browse-item .tab .data .data-cnt {
    line-height: 1.2em
}

.browse-item .tab .data .data-cnt .size {
    font-size: .8em;
    line-height: 1.2em
}

.browse-item .tab .data .data-cnt .size:after {
    content: "\a";
    white-space: pre
}

.browse-item .tab .data .data-cnt .perms {
    font-size: .6em;
    line-height: 1.2em;
    color: #888
}

.browse-item .tab .sep-first {
    width: 2.6em
}

.browse-item .tab .sep-mid {
    width: 1em
}

.browse-item .tab .sep-last {
    width: .6em
}

.browse-item .tab .upbtn {
    display: block;
    position: relative;
    width: 1.6em;
    height: 1.6em;
    margin: 0 0 .1em .5em;
    padding: .3em
}

.browse-item .tab .upbtn .svg-ic {
    display: block;
    width: 100%;
    height: 100%
}

.browse-item.legend {
    border-bottom: 2pt solid #ddd
}

.browse-item.legend * {
    vertical-align: bottom;
    font-weight: bold;
    line-height: 1.8em
}

.browse-item.legend .caption {
    font-size: .8em
}

.browsebar-data {
    width: 100%;
    height: 1.4em;
    display: block;
    line-height: 1.2em;
    padding: .1em 1em .1em 1em;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    text-align: center
}

.browsebar-data .text {
    font-size: .8em
}

.browsebar-data .text,
.browsebar-data .text * {
    line-height: 1.5em
}

.browsebar-data .text .openlink {
    font-weight: normal;
    cursor: pointer;
    color: #308cfc;
    margin-left: .4em;
    border-bottom: 1pt solid transparent
}

.browsebar-data .text .openlink:active {
    border-color: #308cfc
}

.browsebar-data .text .perms {
    color: #888;
    font-size: .9em
}

.browsebar-blocks {
    width: 100%;
    height: 2.6em;
    display: block;
    line-height: 2.6em;
    background: #eee;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap
}

.browsebar-block {
    display: inline-block;
    padding: 0 .6em 0 .6em;
    line-height: 2.6em;
    height: 2.6em
}

.browsebar-block .nav {
    display: inline;
    line-height: 2.6em;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1pt solid #308cfc
}

.browsebar-block .nav:active {
    color: #308cfc
}

.browsebar-block.sep {
    padding: 0
}

.tree-container {
    margin: 1.6em 2em 1.6em 2em
}

.tree-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 4em;
    width: 4em;
    padding: 1em;
    cursor: pointer;
    display: none;
    z-index: 18
}

.tree-close-btn .svg-ic {
    fill: #000
}

.tree-copy .tree-close-btn,
.tree-cut .tree-close-btn {
    display: block
}

.tree-title {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.8em;
    display: none
}

.tree-toggle {
    margin: 0 0 1.5em 0;
    font-size: .8em;
    line-height: 1.8em
}

.tree-toggle .btn {
    cursor: pointer;
    color: #308cfc;
    font-weight: bold
}

.tree-ul .tree-ul {
    display: none
}

.tree-ul.tree-open {
    display: block
}

.tree-ul .tree-ul {
    margin-left: .5em;
    padding-left: 1.5em;
    border-left: 1pt solid #ddd;
    list-style-type: disc
}

.tree-opener-tablet {
    top: 0;
    right: 0;
    width: 2.4em;
    height: 4em;
    padding: 1em .2em;
    z-index: 14;
    cursor: pointer;
    display: none
}

.tree-li {
    display: block;
    list-style-type: none
}

.tree-name {
    cursor: pointer;
    border-bottom: 1pt solid #308cfc;
    display: none
}

.tree-name:active {
    color: #308cfc
}

.tree-li.tree-browsing .tree-name {
    font-weight: bold
}

.tree-btn {
    width: 1em;
    height: 1.8em;
    display: inline-block;
    cursor: pointer
}

.tree-btn-noclick {
    cursor: default
}

.tree-btn.tree-btn-close,
.tree-li.tree-open .tree-btn.tree-btn-open {
    display: none
}

.tree-btn.tree-btn-open,
.tree-li.tree-open .tree-btn.tree-btn-close {
    display: inline-block
}

.tree-btn .svg-ic {
    width: 1em;
    height: 1em;
    margin: .4em 0 .4em 0
}

.tree-browse .tree-btn.paste {
    display: none
}

.tree-browse .tree-name.brw,
.tree-copy .tree-name.cpy,
.tree-cut .tree-name.cut,
.tree-browse .tree-title.brw,
.tree-copy .tree-title.cpy,
.tree-cut .tree-title.cut {
    display: inline
}

.tools-desktop .cat {
    margin: 1em 0 2em 0;
    border-bottom: 1pt solid #eee
}

.tools-desktop .nobord {
    border: 0
}

.tools-desktop .cat,
.tools-desktop .row {
    display: block;
    width: 100%;
    float: none;
    overflow: hidden
}

.tools-desktop .cat .cat-name {
    display: block;
    padding: 0 1em;
    font-weight: bold;
    line-height: 1.8em
}

.tools-desktop .row,
.tools-desktop .item {
    height: 2.3em
}

.tools-desktop .item {
    cursor: pointer;
    display: block;
    width: 100%
}

.tools-desktop .tool-upload .close {
    display: none
}

.tools-desktop .row .item {
    float: left
}

.tools-desktop .row.row2 .item {
    width: 50%
}

.tools-desktop .row.row3 .item {
    width: 32%
}

.tools-desktop .row.row3 .item .btntex {
    margin-top: .1em;
    margin-bottom: -0.1em;
    margin-left: -0.4em
}

.tools .item .tab .intext input {
    width: 100%;
    height: 100%;
    background: #eee;
    font-size: .8em;
    padding: 0 1em 0 1em
}

.tools .item .tab .submit {
    width: 2.3em;
    background: #308cfc
}

.tools .item .tab .hidein {
    width: 2.3em;
    background: #fff;
    display: none
}

.tools .item .btnic {
    display: block;
    cursor: pointer;
    width: 2.3em;
    height: 2.3em;
    padding: .4em;
    float: left
}

.tools .item .btnic .svg-ic {
    width: 100%;
    height: 100%
}

.tools .item .submit .btnic .svg-ic {
    fill: #fff
}

.tools .item .submit:active .btnic .svg-ic {
    fill: #deecfc
}

.tools .item .hidein .btnic .svg-ic {
    fill: #000
}

.tools .item .hidein:active .btnic .svg-ic {
    fill: #308cfc
}

.tools .item.close .btnic .svg-ic {
    fill: #000
}

.tools .item.close:active .btnic .svg-ic {
    fill: #308cfc
}

.tools .item .btntex {
    float: left;
    display: block;
    cursor: pointer;
    width: auto;
    height: 2.3em;
    line-height: 2.3em
}

.tools .item:active .btntex,
.tools .item:active .btntex * {
    color: #308cfc
}

.tools-desktop .item .btntex.bold {
    font-weight: bold
}

.tools-mobile {
    display: none;
    white-space: nowrap;
    width: 100%;
    height: 4em;
    overflow-y: hidden;
    overflow-x: auto;
    text-align: center;
    padding: 0 .8em;
    white-space: nowrap
}

.tools-mobile .item {
    height: 4em;
    width: 2.4em;
    display: inline-block
}

.tools-mobile .item.rbord {
    border-right: 1pt solid #eee
}

.tools-mobile .item .btnic {
    display: block;
    cursor: pointer;
    width: 2.3em;
    height: 4em;
    padding: .4em;
    float: left;
    padding-bottom: 1em
}

.tools-mobile .item .btntex {
    position: absolute;
    font-size: .5em;
    text-align: center;
    bottom: 1em;
    width: 100%
}

@media screen and (max-height:600px) {
    .login.license {
        top: 0;
        margin-top: 0;
        height: 100%;
        overflow-y: auto
    }
}


@media screen and (max-height:300px) {
    .muonbar.muonbar-login,
    .login {
        top: 0;
        margin-top: 0
    }
    .login {
        height: 100%;
        overflow-y: auto
    }
}

@media screen and (max-width:1024px) {
    .browsebar {
        right: 2.4em
    }
    .tree {
        z-index: 19;
        top: 0;
        right: -25em;
        width: 20em;
        bottom: 0;
        transition: right .5s;
        max-width: 100%;
        white-space: nowrap;
        position: fixed
    }
    .tree-visible .tree {
        right: 0
    }
    .main {
        right: 0
    }
    .tree-close-btn,
    .tree-opener-tablet {
        display: block
    }
}

@media screen and (max-width:700px) {
    .tools {
        top: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4em
    }
    .browsebar {
        top: 3em;
        left: 0;
        right: 0
    }
    .bottombar {
        display: none
    }
    .outputbar {
        bottom: auto;
        height: 1.6em;
        padding-top:0.2em;
        top: 7em;
        z-index: 7;
        text-align: center;
        vertical-align: middle
    }
    .main {
        top: 7em;
        left: 0;
        right: 0;
        bottom: 4em
    }
    .muonbar.layout-block {
        box-shadow: none;
        width: 100%;
        height: 3em
    }
    .muonbar.muonbar-login {
        width: 20em;
        height: 4em;
        padding: 0.5em;
        padding-left: 0
    }
    .muonbar .logo {
        height: 3em;
        padding-top: .5em;
        padding-bottom: .5em
    }
    .muonbar .title {
        padding-top: .3em
    }
    .muonbar .title .learnmore {
        top: 3.2em
    }
    .muonbar .btns {
        padding-right: 0
    }
    .muonbar .btn {
        height: 3em;
        width: 2.4em;
        padding: .5em .2em
    }
    .muonbar .btn.mobile-only {
        display: block
    }
    .muonbar .btn.tablet-only {
        display: none
    }
    .muonbar .btn.tree-open-btn {
        display: block
    }
    .tree-opener-tablet {
        display: none
    }
    .tools {
        height: auto;
        max-height: 100%;
        overflow-y: auto;
        bottom: 0;
        z-index: 17;
        position: fixed
    }
    .tools-mobile {
        display: block
    }
    .tools-desktop .cat {
        padding: 0;
        margin: 0;
        border: 0
    }
    .tools-desktop .cat .cat-name,
    .tools-desktop .row,
    .tools-desktop .item {
        display: none
    }
    .tools-desktop .item.tool-mobile-visible,
    .tools-desktop .tool-mobile-visible .item {
        display: block
    }
    .tools-desktop .tool-upload .item.close {
        position: relative;
        width: 2.3em;
        top: 0;
        left: 0
    }
    .tools-desktop .tool-upload .item.submit {
        position: absolute;
        top: 0;
        left: 2.3em;
        display: block
    }
    .uploading-nothing .tools-desktop .tool-upload.tool-mobile-visible .item.submit {
        display: none
    }
    ,
    .tools-desktop .tool-upload.tool-mobile-visible .item.close {
        display: block
    }
    .tools .item .tab .hidein {
        display: table-cell
    }
}

@media screen and (max-width:300px) {
    .muonbar .tab-row {
        width: 300px
    }
    .muonbar {
        overflow-x: auto;
        overflow-y: hidden
    }
    .login {
        width: 100%;
        left: 0;
        margin-left: 0
    }
}

.browse-select-nothing .disabled-select-nothing,
.browse-select-one-folder .disabled-select-one-folder,
.browse-select-one-file .disabled-select-one-file,
.browse-select-big-selection .disabled-select-big-selection,
.editor-changed .disabled-editor-changed,
.editor-not-changed .disabled-editor-not-changed,
.editor-text-wrap .disabled-editor-text-wrap,
.editor-text-nowrap .disabled-editor-text-nowrap,
.uploading-nothing .disabled-uploading-nothing {
    display: none
}